@import "./null";

$raleway: 'Raleway', sans-serif;
$open: 'Open Sans', sans-serif;
$cardo: 'Cardo', serif;

$grey: #6c7279;
$black: #2d3033;

body{
    font-size: 14px;
    font-family: $raleway;
    line-height: 1.2;
    background-color: #fff;
    background: #fff;
    color: $black;

    -webkit-font-smoothing: antialiased;
}

.noscroll{
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.return{
    position: fixed;
    width: 64px;
    height: auto;

    border-radius: 50%;
    background-color: #fff;

    z-index: 4;

    bottom: 20px;
    right: -65px;

    .image{
        max-width: 64px;
        height: auto;
    }

    transition: right .2s ease-in-out;
}

.show{
    right: 20px;
}

.header{
    position: absolute;
    height: 145px;
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 60px 0;

    border-bottom: 1px solid #505369;

    .nav_link{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        margin-left: 60px;

        transition: color .2s linear;

        &:hover{
            color: #b1b1b1;
        }
    }

    .nav{
        margin: auto 0;
    }
}

.header__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger{
    z-index: 101;
    display: block;
    position: relative;

    width: 40px;
    height: 30px;

    background: none;
    display: none;
    margin-right: 50px;
    font-size: 0;
    color: transparent;

    &__item{
        display: block;
        width: 100%;
        height: 3px;        
        border-radius: 10px;
        background-color: #fff;
        transition: all .2s ease;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;
        display: block;
        
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #fff;
        transition: all .2s ease;
    }

    &::before{
        top: 0px;
    }
    
    &::after{        
        bottom: 0;
    }

    &.active{
        .burger__item{
            transform: translateX(100%) scale(0);
        }
        
        &::after{
            bottom: 50%;
            transform: rotate(-45deg)  translate(0, 50%);
        }
        
        &::before{
            top: 50%;
            transform: rotate(45deg) translate(0, -50%);
        }

    }
}

.popup{
    display: none;
    overflow-y: scroll;
    z-index: 110;
}

.intro{
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 145px;
    max-height: 750px;
    height: 100%;

    background-color: #2b2e49;
    background: url(../../img/header_background.png) center no-repeat;
    background-size: cover;
}

.intro .container{
    max-width: 915px;
    text-align: center;

    .title{
        text-transform: uppercase;
        font-family: $open;
        font-weight: 700;
        font-size: 65px;
        margin-bottom: 40px;
    }

    .subtitle{
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 80px;
    }

}


.btn{
    display: inline-block;
    vertical-align: top;

    text-transform: uppercase;
    font-family: $raleway;
    font-weight: 600;
    color: #fff;

    text-decoration: none;
    padding: 20px 55px;
    cursor: pointer;

    border-radius: 5px;
    transition: background-color .2s linear;
}

.btn--red{
    background-color: #e84545;

    &:hover{
        background-color: #bf3737;
    }
}

.pros__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 120px;

    .element{
        max-width: 300px;
        width: 100%;

        margin: 0 10px;
        margin-bottom: 75px;

        text-align: center;

        .image{
            max-width: 64px;
            width: 100%;
            height: auto;

            margin-bottom: 30px;
        }

        .title{
            font-weight: 700;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
    }
}

.semples{
    width: 100%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
}

.semples__card{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;

    border: 1px solid #fff;

    .image{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;

        transform: translate3d(-50%, -50%, 0);
        
    }

    
    .text{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        background-color: rgba(232, 69, 69, .9);
        opacity: 0;
        
        z-index: 2;
        color: #fff;

        transition: opacity .2s linear;

        .title{
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }

    &:hover{
        .text{
            opacity: 1;
        }
    }
}

.team{
    margin: 100px 0;
}

.team__inner{
    margin: 0 -15PX;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__card{
    padding: 0 15px ;
    position: relative;
    width: 25%;

    .image{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .name{
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .profession{
        color: #e84545;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .text{
        margin-bottom: 30px;
    }

    .socials_link{
        margin-right: 12px;
    }
}

.reviews{
    position: relative;
    width: 100%;
    display: flex;

    .inner{
        background-color: #53354a;
        color: #fff;

        padding: 20px 30px 20px 85px;

        max-width: 50%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .review{
            font-family: $cardo;
            font-style: italic;
            font-size: 36px;

            margin-bottom: 40px;

            &:before{
                content: "“";
            }
            
            &::after{
                content: "”";
            }
        }

        .sign{
           font-weight: 700;
           font-size: 13px;
           text-transform: uppercase; 
        }

    }

    .image{
        display: block;
        max-width: 50%;
        height: auto;
    }
}

.download{
    margin: 100px 0;
    .inner{
        max-width: 1000px;
        width: 100%;
        padding: 0 20px;

        margin: 0 auto;

        text-align: center;

        .title{
            font-size: 28px;
            font-weight: 300;

            margin-bottom: 20px;
        }

        .subtitle{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;

            margin-bottom: 40px;
        }
    }
}

.footer{
    max-height: 250px;
    height: 100%;
    width: 100%;
    background-color: #3a3e64;
    
    color: #fff;
    
    .container{
        max-width: 1000px;
        padding-top: 70px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title__block{
        width: 30%;

        display: flex;
        justify-content: center;
        text-align: center;
    }

    .location{
        max-width: 150px;
        text-align: center;
        .title{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }

        address{
            text-decoration: none;
            font-style: normal;
            opacity: .6;
        }
    }

    .socials{
        max-width: 150px;

        .title{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .icos{
            width: 100%;
            display: flex;
            justify-content: space-between;

            background-color: #ffffff;
            border-radius: 10px;

            padding: 10px 15px;
        }
    }

    .about{
        max-width: 340px;
        width: 100%;
        text-align: center;

        .title{
            font-weight: 700;
            margin-bottom: 20px;
        }

        .text{
            opacity: .6;
        }
    }
}

@import "./media"